*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}
header{
  height: 50px;
  text-align: center;
  background-color: lightgrey;
  
}
.article{
  text-align: center;
  color: white;

}
li{
  padding: 20px 20px;
  
  border: 1px solid white;
  border-radius: 30px;
  width: 30%;
  margin: 10px auto;
  background-color: cornflowerblue;
}
main{
  background-color: black;
  height: 100vh;
}
input{
  width: 50%;
  background-color: grey;
  color: white;
  border: 1px solid grey;
}
button{
  margin-left: 20px;
  padding: 5px 10px;
  color: white;
  background-color: gray;
  border-radius: 20px;
}